/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* 1. RESET E ESTILOS BASE (GLOBAL) */
body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

/* 2. BARRA DE NAVEGAÇÃO SUPERIOR (HEADER) */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF5100;
    text-transform: uppercase;
}

/* 3. SECÇÃO DE DESTAQUE (HERO) */
.hero-section {
    max-width: 1100px;
    margin: 100px;
}

.title {
    font-size: 50px;
    font-weight: bold;
}

.title span {
    color: #FF5100;
}

.subtitle {
    font-size: 25px;
    font-weight: 400;
    color: #F3F3F3;
    margin-bottom: 150px;
    max-width: 800px;
}

.buttons button {
    display: flex;
    margin: 30px;
    padding: 10px 25px;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    justify-content: center;
    background-color: #FF5100;
    color: white;
    width: 150px;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #d84400;
    transition: 0.2s ease;
}

