@import url('variables.css');
@import url('base.css');
@import url('components/footer.css');
@import url('components/sabia-widget.css');
@import url('components/navbar.css');


/* @import url('components/hero.css');
@import url('components/events.css');
@import url('components/profile.css');
@import url('components/producer.css');
@import url('components/settings.css');
@import url('components/modal.css'); */

/* @import url('movie_player.css');
@import url('feedback.css'); */